<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videojuegos en Alquiler</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Filtro de tipo de videojuegos -->
  <ion-item>
    <ion-label>Filtrar por género</ion-label>
    <ion-select [(ngModel)]="filtroSeleccionado" (ionChange)="filtrarVideojuegos()">
      <ion-select-option value="todos">Todos</ion-select-option>
      <ion-select-option *ngFor="let tipo of tiposVideojuegos" [value]="tipo">{{ tipo }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Sección de Videojuegos Destacados con Scroll Horizontal -->
  <h3 class="section-title">Top Videojuegos</h3>
  <div class="horizontal-scroll">
    <ion-card class="product-card" *ngFor="let videojuego of videojuegosFiltrados" [routerLink]="['/detalle', videojuego.id]">
      <ion-img [src]="videojuego.imagen" alt="Videojuego" class="product-img"></ion-img>
      <ion-card-content>
        <h2 class="product-title">{{ videojuego.nombre_producto }}</h2>
        <p class="price">Compra: {{ videojuego.precio_venta | currency: 'EUR' }}</p>
        <p class="price">Alquiler: {{ videojuego.precio_alquiler | currency: 'EUR' }}</p>
      </ion-card-content>
    </ion-card>
    
  </div>

  <!-- Sección de Todos los Videojuegos en Alquiler -->
  <h3 class="section-title">Todos los Videojuegos</h3>
  <ion-grid class="compact-grid">
    <ion-row>
      <ion-col size="4" size-md="3" size-lg="2" *ngFor="let videojuego of videojuegosFiltrados">
        <ion-card class="product-card">
          <ion-img [src]="videojuego.imagen" alt="Videojuego" class="product-img"></ion-img>
          <ion-card-content>
            <h2 class="product-title">{{ videojuego.nombre_producto}}</h2>
            <p class="price">Compra: {{ videojuego.precio_venta | currency: 'EUR' }}</p>
            <p class="price">Alquiler: {{ videojuego.precio_alquiler | currency: 'EUR' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
