<ion-header>
  <ion-toolbar>
    <ion-title>Solicitar Reparación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario de Reparación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (submit)="onSubmit()">
        <!-- Selección de Producto -->
        <ion-item>
          <ion-label position="stacked">Seleccionar Producto</ion-label>
          <ion-select [(ngModel)]="productoSeleccionado" name="productoSeleccionado" required>
            <ion-select-option *ngFor="let producto of productos" [value]="producto.id">
              {{ producto.nombre_producto }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Descripción de la Reparación -->
        <ion-item>
          <ion-label position="stacked">Descripción de la Reparación</ion-label>
          <ion-textarea [(ngModel)]="descripcion" name="descripcion" required></ion-textarea>
        </ion-item>

        <!-- Botón de Enviar -->
        <ion-button expand="full" type="submit" color="primary" [disabled]="!productoSeleccionado || !descripcion">
          Enviar Solicitud de Reparación
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
