<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Consolas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sección de Consolas Destacadas con Scroll Horizontal -->
  <h3 class="section-title">Top Consolas</h3>
  <div class="horizontal-scroll">
    <ion-card class="product-card" *ngFor="let consola of consolas" >
      <ion-img [src]="consola.imagen" alt="Consola" class="product-img"></ion-img>
      <ion-card-content>
        <h2 class="product-title">{{ consola.nombre_producto }}</h2>
        <p class="price">Compra: {{ consola.precio_venta | currency: 'EUR' }}</p>
        <div class="button-container">
          <ion-button color="success" size="small">
            <ion-icon slot="start" name="cart"></ion-icon> 
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Sección de Todas las Consolas -->
  <h3 class="section-title">Todas las Consolas</h3>
  <ion-grid class="compact-grid">
    <ion-row>
      <ion-col size="4" size-md="3" size-lg="2" *ngFor="let consola of consolas">
        <ion-card class="product-card">
          <ion-img [src]="consola.imagen" alt="Consola" class="product-img"></ion-img>
          <ion-card-content>
            <h2 class="product-title">{{ consola.nombre_producto }}</h2>
            <p class="price">Compra: {{ consola.precio_venta | currency: 'EUR' }}</p>
            <div class="button-container">
              <ion-button color="success" size="small">
                <ion-icon slot="start" name="cart"></ion-icon> 
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
