<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="assets/img/juegalmi.png" alt="Logo de JuegAlmi" class="logo"/>
    <p>
      Desde sus inicios, JuegAlmi ha sido el punto de encuentro para los apasionados de los videojuegos en la ciudad. Fundada en 2015 por un grupo de amigos gamers que querían ofrecer algo más que una tienda, JuegAlmi rápidamente se destacó por su ambiente acogedor y su variedad de productos. La tienda se especializa en la venta y alquiler de videojuegos, además de ofrecer un servicio de reparación profesional para consolas y dispositivos móviles como tablets y smartphones, siempre con un trato cercano y especializado que atrajo a una clientela fiel.
    </p>
    <p>
      Sin embargo, con el paso de los años y la creciente demanda de sus servicios, JuegAlmi se ha visto en la necesidad de modernizarse para satisfacer las expectativas de sus clientes. Por eso, ha decidido crear su propia aplicación móvil, enfocada en optimizar su imagen y facilitar la gestión diaria de la tienda.
    </p>
    <p>
      La app no solo permitirá a los usuarios comprar y alquilar videojuegos desde cualquier lugar, sino que también ofrecerá un sistema para gestionar la reparación de consolas y dispositivos móviles, brindando a los clientes la posibilidad de realizar un seguimiento de sus productos en tiempo real. Además, la app incluirá un catálogo actualizado, notificaciones de lanzamientos exclusivos y promociones especiales para sus usuarios.
    </p>
    <p>
      Así, JuegAlmi busca seguir consolidándose como líder en el mercado, aprovechando la tecnología para mejorar la experiencia de sus clientes y dar un paso adelante en el mundo de los videojuegos y las reparaciones.
    </p>
  </div>
</ion-content>
