<ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="login-container">
    <ion-text class="login-title">
      <h2>Log in</h2>
    </ion-text>

    <ion-item lines="none" class="input-item">
      <ion-input id="username" type="email" placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input id="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" class="login-button" id="login_button">Iniciar sesión</ion-button>
    <ion-button expand="full" color="primary" class="register-button" id="register_button">Registrarse</ion-button>
  </div>
</ion-content>
