

<ion-content [fullscreen]="true" class="login-background">
  
    <ion-card class="login-card">
      <div class="login-icon">
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
      </div>
      <ion-card-header>
        <ion-card-title class="login-title">Bienvenido a JuegAlmi</ion-card-title>
        <p class="subtitle">Inicia sesión para continuar</p>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="input-item">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="username" type="text"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        
        <ion-button expand="block" color="primary" (click)="login()" class="login-button">
          Iniciar sesión
        </ion-button>
        <ion-button expand="block" fill="outline" routerLink="/register" class="register-button">
          Crear cuenta
        </ion-button>
        
        <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
      </ion-card-content>
    </ion-card>

</ion-content>
