

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="subtab1" routerLink="subtab1">
        <ion-label>Videojuegos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="subtab2" routerLink="subtab2">
        <ion-label>Consolas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="subtab3" routerLink="subtab3">
        <ion-label>Tablets y Smartphones</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="subtab4" routerLink="subtab4">
        <ion-label>Cesta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <router-outlet></router-outlet> 
</ion-content>
