<ion-content>
  <!-- Videojuegos más recientes con scroll horizontal -->
  <h3 class="section-title">Videojuegos Más Recientes</h3>
  <div class="horizontal-scroll">
    <ion-card class="product-card" *ngFor="let videojuego of videojuegos">
      <ion-img [src]="videojuego.imagen" alt="Videojuego" class="product-img"></ion-img>
      <ion-card-content>
        <h2 class="product-title">{{ videojuego.nombre_producto }}</h2>
        <p class="price">Compra: {{ videojuego.precio_venta | currency: 'EUR' }}</p>
        <div class="button-container">
          <ion-button color="success" size="small" (click)="agregarACesta(videojuego)">
            <ion-icon slot="start" name="cart"></ion-icon> 
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Consolas más recientes con scroll horizontal -->
  <h3 class="section-title">Consolas Más Recientes</h3>
  <div class="horizontal-scroll">
    <ion-card class="product-card" *ngFor="let consola of consolas" >
      <ion-img [src]="consola.imagen" alt="Consola" class="product-img"></ion-img>
      <ion-card-content>
        <h2 class="product-title">{{ consola.nombre_producto }}</h2>
        <p class="price">Compra: {{ consola.precio_venta | currency: 'EUR' }}</p>
        <div class="button-container">
          <ion-button color="success" size="small" (click)="agregarACesta(consola)">
            <ion-icon slot="start" name="cart"></ion-icon> 
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Smartphones más recientes con scroll horizontal -->
  <h3 class="section-title">Smartphones Más Recientes</h3>
  <div class="horizontal-scroll">
    <ion-card class="product-card" *ngFor="let smartphone of smartphones" >
      <ion-img [src]="smartphone.imagen" alt="Smartphone" class="product-img"></ion-img>
      <ion-card-content>
        <h2 class="product-title">{{ smartphone.nombre_producto }}</h2>
        <p class="price">Compra: {{ smartphone.precio_venta | currency: 'EUR' }}</p>
        <div class="button-container">
          <ion-button color="success" size="small" (click)="agregarACesta(smartphone)">
            <ion-icon slot="start" name="cart"></ion-icon> 
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
