<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="register-container">
    <ion-text class="register-title">
      <h2>Registro</h2>
    </ion-text>

    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="email" type="email" placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="nombre" type="text" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="apellido1" type="text" placeholder="Primer Apellido"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="apellido2" type="text" placeholder="Segundo Apellido"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="direccion" type="text" placeholder="Direccion"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" class="register-button" (click)="onRegister()">
      Registrarse
    </ion-button>
    <ion-button expand="full" color="primary" class="login-button" routerLink="/login">
      Log-in
    </ion-button>
  </div>
</ion-content>
